{% extends "base.html" %} {% load static %}{% block base %}
<!--<< Breadcrumb Section Start >>-->
<div
  class="breadcrumb-wrapper section-padding bg-cover"
  style="background-image: url('{% static "img/breadcrumb.jpg" %}')"
>
  <div class="layer-shape wow fadeInLeft" data-wow-delay=".3s">
    <img src="{% static "img/layer-shape-3.png" %}" alt="shape-img" />
  </div>
  <div class="breadcrumb-shape wow fadeInRight" data-wow-delay=".5s">
    <img src="{% static "img/breadcrumb-shape.png" %}" alt="shape-img" />
  </div>
  <div class="container">
    <div class="page-heading">
      <h1 class="wow fadeInUp" data-wow-delay=".3s">About Us</h1>
      <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
        <li>
          <a href="index.html"> Home Page </a>
        </li>
        <li>
          <i class="fal fa-minus"></i>
        </li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
</div>

<!-- Choose Us Section Start -->
<section class="choose-us-section fix section-padding">
  <div class="left-shape float-bob-y">
    <img src="{% static "img/shape-5.png" %}" alt="shape-img" />
  </div>
  <div class="container">
    <div class="choose-wrapper style-2 mb-0">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="choose-image-items">
            <div
              class="choose-image bg-cover wow fadeInUp"
              data-wow-delay=".3s"
              style="background-image: url('{% static "img/choose/03.jpg" %}')"
            >
              <div class="box-shape">
                <img src="{% static "img/about/box-shape.png" %}" alt="shape-img" />
              </div>
            </div>
            <div class="choose-image-2 wow fadeInRight" data-wow-delay=".5s">
              <img src="{% static "img/choose/04.jpg" %}" alt="choose-img" />
            </div>
            <div class="icon-box">
              <i class="fas fa-paper-plane"></i>
              <div class="circle-text">
                <img
                  src="{% static "img/circle-text.png" %}"
                  alt="img"
                  class="text-circle"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-5 mt-lg-0">
          <div class="choose-content">
            <div class="section-title wow fadeInUp" data-wow-delay=".3s">
              <h2>
                Explore worlds leading <br />
                local and gloabl agencies
              </h2>
            </div>
            <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
              Nullam eu nibh vitae est tempor molestie id sed ex. Quisque
              dignissim maximus ipsum, sed rutrum metus tincidunt et. Sed eget
              tincidunt <br />
              ipsum. Eget tincidunt
            </p>
            <div class="icon-area style-2 wow fadeInUp" data-wow-delay=".7s">
              <div class="icon-items active">
                <div class="icon">
                  <i class="flaticon-cargo"></i>
                </div>
                <div class="content">
                  <h5>Cloud based</h5>
                  <p>
                    Nullam eu nibh vitae est tempor molestie <br />
                    Quisque dignissim maximus ipsum
                  </p>
                </div>
              </div>
              <div class="icon-items">
                <div class="icon">
                  <i class="flaticon-transportation"></i>
                </div>
                <div class="content">
                  <h5>Technical support</h5>
                  <p>
                    Nullam eu nibh vitae est tempor molestie <br />
                    Quisque dignissim maximus ipsum
                  </p>
                </div>
              </div>
            </div>
            <div class="about-author wow fadeInUp" data-wow-delay=".9s">
              <div class="about-button">
                <a href="about.html" class="theme-btn"> Discover More </a>
              </div>
              <div class="author-image">
                <img src="{% static "img/about/author.png" %}" alt="author-img" />
                <img src="{% static "img/about/signature.png" %}" alt="signature" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section Start -->
<section class="team-section fix section-padding pt-0">
  <div class="container">
    <div class="section-title text-center">
      <span class="wow fadeInUp">Our team members</span>
      <h2 class="wow fadeInUp" data-wow-delay=".3s">
        The amazing team behind logimax
      </h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
        <div class="team-card-items style-2">
          <div
            class="team-image bg-cover"
            style="background-image: url({% static "img/team/05.jpg" %})"
          >
            <div class="team-content-2">
              <h4>
                <a href="team-details.html"> Salman Islam </a>
              </h4>
              <p>Developer</p>
            </div>
            <div class="social-profile">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
              </ul>
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
        <div class="team-card-items style-2 active">
          <div
            class="team-image bg-cover"
            style="background-image: url({% static "img/team/06.jpg" %})"
          >
            <div class="team-content-2">
              <h4>
                <a href="team-details.html"> Janes Cooper </a>
              </h4>
              <p>Designer</p>
            </div>
            <div class="social-profile">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
              </ul>
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
        <div class="team-card-items style-2">
          <div
            class="team-image bg-cover"
            style="background-image: url({% static "img/team/07.jpg" %})"
          >
            <div class="team-content-2">
              <h4>
                <a href="team-details.html"> James Bond </a>
              </h4>
              <p>Creator</p>
            </div>
            <div class="social-profile">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
              </ul>
              <span class="plus-btn"><i class="fas fa-share-alt"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Cta Section Start -->
<section
  class="cta-section-2 fix section-padding background-image"
  style="background-image: url('{% static "img/cta-banner/01.jpg" %}')"
>
  <div class="shape-image">
    <img src="{% static "img/layer-shape-4.png" %}" alt="shape-img" />
  </div>
  <div class="container">
    <div class="cta-wrapper-2">
      <div class="cta-content">
        <h2 class="wow fadeInUp" data-wow-delay=".3s">
          World’s Leading Contract Logistics<br />and Transportation Provider
        </h2>
        <div class="cta-button mt-5 wow fadeInUp" data-wow-delay=".4s">
          <a href="contact.html" class="theme-btn hover-white">
            request custom quote
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Faq Section Start -->
<section class="faq-section fix">
  <div class="container">
    <div class="faq-wrapper">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div
            class="faq-image bg-cover"
            style="background-image: url('{% static "img/faq/faq.jpg" %}')"
          >
            <div class="counter-area float-bob-y">
              <div class="counter-items">
                <h2><span class="count">38</span>+</h2>
                <p>
                  Designers and <br />
                  developers
                </p>
              </div>
              <div class="counter-items style-2">
                <h2><span class="count">256</span>+</h2>
                <p>
                  Awards for digital <br />
                  innovation
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
          <div class="faq-content">
            <div class="section-title">
              <span class="wow fadeInUp">What people ask</span>
              <h2 class="wow fadeInUp" data-wow-delay=".3s">
                Get every single answer <br />
                from here
              </h2>
            </div>
            <div class="faq-accordion">
              <div class="accordion" id="accordion">
                <div class="accordion-item wow fadeInUp" data-wow-delay=".3s">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq1"
                      aria-expanded="true"
                      aria-controls="faq1"
                    >
                      How can I pay for your logistics services?
                    </button>
                  </h5>
                  <div
                    id="faq1"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#accordion"
                  >
                    <div class="accordion-body">
                      The main elements of a marketing strategy are your target
                      audiance goals and objectives and the tax you will employ
                      to acitvely markter to your achive the goals
                    </div>
                  </div>
                </div>
                <div class="accordion-item wow fadeInUp" data-wow-delay=".5s">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq2"
                      aria-expanded="false"
                      aria-controls="faq2"
                    >
                      What options for logistics plans are available?
                    </button>
                  </h5>
                  <div
                    id="faq2"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordion"
                  >
                    <div class="accordion-body">
                      The main elements of a marketing strategy are your target
                      audiance goals and objectives and the tax you will employ
                      to acitvely markter to your achive the goals
                    </div>
                  </div>
                </div>
                <div class="accordion-item wow fadeInUp" data-wow-delay=".7s">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq3"
                      aria-expanded="false"
                      aria-controls="faq3"
                    >
                      What payment methods are supported?
                    </button>
                  </h5>
                  <div
                    id="faq3"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordion"
                  >
                    <div class="accordion-body">
                      The main elements of a marketing strategy are your target
                      audiance goals and objectives and the tax you will employ
                      to acitvely markter to your achive the goals
                    </div>
                  </div>
                </div>
                <div class="accordion-item wow fadeInUp" data-wow-delay=".9s">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq4"
                      aria-expanded="false"
                      aria-controls="faq4"
                    >
                      Can i specify a delivery date when ordering?
                    </button>
                  </h5>
                  <div
                    id="faq4"
                    class="accordion-collapse collapse"
                    data-bs-parent="#accordion"
                  >
                    <div class="accordion-body">
                      The main elements of a marketing strategy are your target
                      audiance goals and objectives and the tax you will employ
                      to acitvely markter to your achive the goals
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Growth Section Start -->
<section class="growth-section fix">
  <div class="container">
    <div class="growth-wrapper">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="growth-content">
            <div class="section-title">
              <span class="wow fadeInUp">Our recent work</span>
              <h2 class="wow fadeInUp" data-wow-delay=".3s">Sales growth</h2>
            </div>
            <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
              Our clients describe us as a product team which creates amazing
              <strong class="head-color">UI/UX</strong> experiences, by crafting
              top-notch user experience of funny the century rather.,
            </p>
            <div
              class="circle-progress-bar-wrapper wow fadeInUp"
              data-wow-delay=".7s"
            >
              <div class="single-circle-bar">
                <div
                  class="circle-bar"
                  data-percent="65"
                  data-duration="1000"
                ></div>
                <div class="content">
                  <h5>
                    Increased by <br />
                    the last 2 years
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mt-4 mt-lg-0">
          <div
            class="growth-image bg-cover"
            style="background-image: url('{% static "img/growth/01.jpg" %}')"
          >
            <div class="shape-image">
              <img src="{% static "img/growth/shape.png" %}" alt="shape-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonial Section Start -->
<section class="testimonial-section section-padding fix section-bg">
  <div class="left-shape">
    <img src="{% static "img/client/left-shape.png" %}" alt="shape-img" />
  </div>
  <div class="right-shape">
    <img src="{% static "img/client/right-shape.png" %}" alt="shape-img" />
  </div>
  <div class="container">
    <div class="section-title text-center">
      <span class="wow fadeInUp">Success stories</span>
      <h2 class="wow fadeInUp" data-wow-delay=".3s">
        Why customers love to <br />
        working with us
      </h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
        <div class="testimonial-card-items">
          <div
            class="testimonial-image bg-cover"
            style="background-image: url('{% static "img/client/01.jpg" %}')"
          ></div>
          <div class="icon">
            <i class="flaticon-quotation"></i>
          </div>
          <div class="testimonial-content">
            <p>
              Bring to the table win-win strategies to ensure proactive
              domination. At the end of the day going forward normal that has
              evolved from operational X is on the
            </p>
            <h4>Janes Cooper</h4>
            <span>Designer</span>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
        <div class="testimonial-card-items active">
          <div
            class="testimonial-image bg-cover"
            style="background-image: url('{% static "img/client/02.jpg" %}')"
          ></div>
          <div class="icon">
            <i class="flaticon-quotation"></i>
          </div>
          <div class="testimonial-content">
            <p>
              Bring to the table win-win strategies to ensure proactive
              domination. At the end of the day going forward normal that has
              evolved from operational X is on the
            </p>
            <h4>Jack Daniel</h4>
            <span>Designer</span>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
        <div class="testimonial-card-items">
          <div
            class="testimonial-image bg-cover"
            style="background-image: url('{% static "img/client/03.jpg" %}')"
          ></div>
          <div class="icon">
            <i class="flaticon-quotation"></i>
          </div>
          <div class="testimonial-content">
            <p>
              Bring to the table win-win strategies to ensure proactive
              domination. At the end of the day going forward normal that has
              evolved from operational X is on the
            </p>
            <h4>Ava Olivia</h4>
            <span>Designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Productive Section Start -->
<section class="service-productive fix section-padding">
  <div class="service-productive-wrapper pt-0">
    <div class="circle-shape">
      <img
        src="{% static "img/circle-shape.png" %}"
        alt="shape-img"
        class="text-circle"
      />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay=".3s">
          <div class="productive-image-2">
            <img src="{% static "img/service/04.jpg" %}" alt="img" />
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-5 mt-xl-0">
          <div class="productive-content">
            <div class="section-title wow fadeInUp" data-wow-delay=".3s">
              <h2>
                We Made Things Easier <br />
                For Your Business
              </h2>
            </div>
            <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
              Bring to the table win-win survival strategies to ensure proactive
              domination. At the end of the day going forward, a new normal that
              has evolved from operational X is on the runway
            </p>
            <div class="icon-items-area">
              <div
                class="icon-item d-flex align-items-center wow fadeInUp"
                data-wow-delay=".3s"
              >
                <div class="icon">
                  <i class="flaticon-approved"></i>
                </div>
                <div class="content">
                  <h5>
                    Affrodable <br />
                    Cost
                  </h5>
                </div>
              </div>
              <div
                class="icon-item d-flex align-items-center active wow fadeInUp"
                data-wow-delay=".5s"
              >
                <div class="icon">
                  <i class="flaticon-delivery"></i>
                </div>
                <div class="content">
                  <h5>
                    On Time <br />
                    Delivery
                  </h5>
                </div>
              </div>
            </div>
            <h6 class="wow fadeInUp" data-wow-delay=".7s">
              We’re commited to deliver high quality productive service
            </h6>
            <div class="author-items wow fadeInUp" data-wow-delay=".9s">
              <div class="about-button">
                <a href="about.html" class="theme-btn"> Discover More </a>
              </div>
              <img src="{% static "img/about/signature-2.png" %}" alt="signature" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
