{% extends "base.html" %} {% load static %}{% block base %}
<!--<< Breadcrumb Section Start >>-->
<div
  class="breadcrumb-wrapper bg-cover section-padding"
  style="background-image: url('{% static "img/breadcrum.jpg" %}')">
  <div class="layer-shape wow fadeInLeft" data-wow-delay=".3s">
    <img src="{% static "img/layer-shape-3.png" %}" alt="shape-img" />
  </div>
  <div class="breadcrumb-shape wow fadeInRight" data-wow-delay=".5s">
    <img src="{% static "img/breadcrumb-shape.png" %}" alt="shape-img" />
  </div>
  <div class="container">
    <div class="page-heading">
      <h1 class="wow fadeInUp" data-wow-delay=".3s">Contact Us</h1>
      <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
        <li>
          <a href="{% url "index" %}"> Home Page </a>
        </li>
        <li>
          <i class="fal fa-minus"></i>
        </li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
</div>

<!-- Contact Info Section Start -->
<section class="contact-page-wrap section-padding">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-contact-card card1">
          <div class="top-part">
            <div class="icon">
              <i class="fal fa-envelope"></i>
            </div>
            <div class="title">
              <h4>Email Address</h4>
              <span>Sent mail asap anytime</span>
            </div>
          </div>
          <div class="bottom-part">
            <div class="info">
              <p>info@example.com</p>
              <p>jobs@example.com</p>
            </div>
            <div class="icon">
              <i class="fal fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-contact-card card2">
          <div class="top-part">
            <div class="icon">
              <i class="fal fa-phone"></i>
            </div>
            <div class="title">
              <h4>Phone Number</h4>
              <span>call us asap anytime</span>
            </div>
          </div>
          <div class="bottom-part">
            <div class="info">
              <p>098-098-098-09</p>
              <p>+(098) 098-098-765</p>
            </div>
            <div class="icon">
              <i class="fal fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-contact-card card3">
          <div class="top-part">
            <div class="icon">
              <i class="fal fa-map-marker-alt"></i>
            </div>
            <div class="title">
              <h4>Office Address</h4>
              <span>Sent mail asap anytime</span>
            </div>
          </div>
          <div class="bottom-part">
            <div class="info">
              <p>B2, Miranda City Tower</p>
              <p>New York, US</p>
            </div>
            <div class="icon">
              <i class="fal fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section Start -->
<section class="contact-section-2 fix section-padding pt-0">
  <div class="container">
    <div class="contact-form-items">
      <div class="title text-center">
        <h2>Let’s Get in Touch</h2>
        <p>
          Your email address will not be published. Required fields are marked *
        </p>
      </div>
      <form action="" id="contact-form" method="post">
        {% csrf_token %}
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="form-clt">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Your Name*"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-clt">
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Your Email*"
              />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-clt">
              <input type="text" name="website" id="website" placeholder="Website*" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-clt">
              <textarea
                name="message"
                id="message"
                placeholder="Write Message*"
              ></textarea>
            </div>
          </div>
          <div class="col-lg-7">
            <button type="submit" class="theme-btn">SEND YOUR MEASSAGE</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Branch Section Start -->
<section class="our-branch-wrapper section-padding pt-0">
  <div class="container">
    <div class="col-lg-8 offset-lg-2 text-center col-12">
      <div class="section-title">
        <span>our branches</span>
        <h2>Contact Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-branch-card">
          <div
            class="country-flag bg-cover"
            style="background-image: url('{% static "img/flag-1.jpg" %}')"
          ></div>
          <div class="content">
            <h4>America, Los Angeles</h4>
            <p>24/7, Global Factory Street, 2nd Cross, San Fransisco 94112.</p>
            <p>+61 (625) 07520-6644 & 6655</p>
            <p><a href="#">support@example.com</a></p>
            <div class="branch-links">
              <a href="#">all branch <i class="fas fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-branch-card">
          <div
            class="country-flag bg-cover"
            style="background-image: url('{% static "img/flag-2.jpg" %}')"
          ></div>
          <div class="content">
            <h4>Canada, Saskatoon</h4>
            <p>24/7, Global Factory Street, 2nd Cross, San Fransisco 94112.</p>
            <p>+61 (625) 07520-6644 & 6655</p>
            <p><a href="#">support@example.com</a></p>
            <div class="branch-links">
              <a href="#">all branch <i class="fas fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-branch-card">
          <div
            class="country-flag bg-cover"
            style="background-image: url('{% static "img/flag-3.jpg" %}')"
          ></div>
          <div class="content">
            <h4>Great Britain</h4>
            <p>7220 Dean Martin Drive Suite, 46 Yarra Boulevard, 2nd Cross</p>
            <p>+61 (625) 07520-6644 & 6655</p>
            <p><a href="#">support@example.com</a></p>
            <div class="branch-links">
              <a href="#">all branch <i class="fas fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="office-google-map-wrapper wow fadeInUp">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6678.7619084840835!2d144.9618311901502!3d-37.81450084255415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b4758afc1d%3A0x3119cc820fdfc62e!2sEnvato!5e0!3m2!1sen!2sbd!4v1641984054261!5m2!1sen!2sbd"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</section>
{% endblock base %}
