{% extends "base.html" %} {% load static %}{% block base %}
<!--<< Breadcrumb Section Start >>-->
<div
  class="breadcrumb-wrapper bg-cover section-padding"
  style="background-image: url('{% static "img/breadcrumb.jpg" %}')"
>
  <div class="layer-shape wow fadeInLeft" data-wow-delay=".3s">
    <img src="{% static "img/layer-shape-3.png" %}" alt="shape-img" />
  </div>
  <div class="breadcrumb-shape wow fadeInRight" data-wow-delay=".5s">
    <img src="{% static "img/breadcrumb-shape.png" %}" alt="shape-img" />
  </div>
  <div class="container">
    <div class="page-heading">
      <h1 class="wow fadeInUp" data-wow-delay=".3s">Login</h1>
      <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
        <li>
          <a href="{% url "index" %}"> Home </a>
        </li>
        <li>
          <i class="fal fa-minus"></i>
        </li>
        <li>Login</li>
      </ul>
    </div>
  </div>
</div>

<!-- Contact Section Start -->
<section class="contact-section-2 fix section-padding pt-12">
  <div class="container">
    <div class="contact-form-items">
      <div class="title text-center">
        <h2>Login</h2>
        <p>
          {% if messages %}
            <ul class="messages" >
                {% for message in messages %}
                    <li{% if message.tags %} {% endif %} style="color: #f35525;">{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </p>
      </div>
      <form action="" id="contact-form" method="post">
        {% csrf_token %}
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="form-clt">
              <input
                type="text"
                name="uname"
                oninput="removeSpaces(this)"
                id="uname"
                placeholder="UserName*" required
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-clt">
              <input
                type="password"
                name="password"
                oninput="removeSpaces(this)"
                id="password"
                placeholder="Password*" required
              />
            </div>
          </div>
          {% comment %} <div class="col-lg-12">
            <div class="form-clt">
              <textarea
                name="message"
                id="message"
                placeholder="Write Message*"
              ></textarea>
            </div>
          </div> {% endcomment %}
          <div class="col-lg-7">
            <button type="submit" class="theme-btn">Login</button>&nbsp &nbsp
            -New to TrashTrack?<a href="{% url "register" %}"><span style="text-align: center; color: #f35525;"> Register</span></a>
          </div>
        </div>
        <script>
          function removeSpaces(inputElement) {
            // Remove spaces from the input value
            inputElement.value = inputElement.value.replace(/\s/g, "");
          }
        </script>
      </form>
    </div>
  </div>
</section>

{% endblock base %}

